USE [master]
GO
/****** Object:  Database [Raul]    Script Date: 02/04/2016 12:24:54 a.m. ******/
CREATE DATABASE [Raul]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Raul', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Raul.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Raul_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Raul_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Raul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Raul]
GO
/****** Object:  Table [dbo].[DetallesES]    Script Date: 02/04/2016 12:24:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesES](
	[idDetalle] [int] NULL,
	[cantTotal] [int] NULL,
	[stock] [int] NULL,
	[pesoTotal] [float] NULL,
	[idProducto] [int] NULL,
	[idES] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetallesFacturas]    Script Date: 02/04/2016 12:24:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesFacturas](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[idFactura] [int] NULL,
	[subtotal] [float] NULL,
	[idES] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EC]    Script Date: 02/04/2016 12:24:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EC](
	[idEC] [int] IDENTITY(1,1) NOT NULL,
	[nro] [varchar](50) NULL,
	[nombreExportador] [varchar](50) NULL,
 CONSTRAINT [PK_EC] PRIMARY KEY CLUSTERED 
(
	[idEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ES]    Script Date: 02/04/2016 12:24:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ES](
	[idES] [int] IDENTITY(1,1) NOT NULL,
	[nro] [varchar](50) NULL,
	[nombreExportador] [varchar](50) NULL,
	[fechaOficializacion] [datetime] NULL,
	[fechaVencimiento] [datetime] NULL,
 CONSTRAINT [PK_ES] PRIMARY KEY CLUSTERED 
(
	[idES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 02/04/2016 12:24:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facturas](
	[idFactura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[idEC] [int] NULL,
	[total] [float] NULL,
	[nombreComprador] [varchar](50) NULL,
	[nombreExportador] [varchar](50) NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 02/04/2016 12:24:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DetallesES]  WITH CHECK ADD  CONSTRAINT [FK_DetallesES_ES] FOREIGN KEY([idES])
REFERENCES [dbo].[ES] ([idES])
GO
ALTER TABLE [dbo].[DetallesES] CHECK CONSTRAINT [FK_DetallesES_ES]
GO
ALTER TABLE [dbo].[DetallesES]  WITH CHECK ADD  CONSTRAINT [FK_DetallesES_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[DetallesES] CHECK CONSTRAINT [FK_DetallesES_Productos]
GO
ALTER TABLE [dbo].[DetallesFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFacturas_Facturas] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Facturas] ([idFactura])
GO
ALTER TABLE [dbo].[DetallesFacturas] CHECK CONSTRAINT [FK_DetallesFacturas_Facturas]
GO
ALTER TABLE [dbo].[DetallesFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFacturas_Productos] FOREIGN KEY([idES])
REFERENCES [dbo].[ES] ([idES])
GO
ALTER TABLE [dbo].[DetallesFacturas] CHECK CONSTRAINT [FK_DetallesFacturas_Productos]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_EC] FOREIGN KEY([idEC])
REFERENCES [dbo].[EC] ([idEC])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_EC]
GO
USE [master]
GO
