<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.Setting" connectionString="Data Source=FACUNDO-PC;Initial Catalog=Raul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>